* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open SansS";
  src: local "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open SansS";
  src: local "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open SansS";
  src: local "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Open SansS";
  font-weight: regular;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.main-section {
  min-height: 853px;
  background: url(../img/back-desktop.png) center/cover no-repeat;
  position: relative;
}
.main-section::before {
  content: "";
  background: #000;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 110px;
  left: 0px;
  top: 0px;
  z-index: 5;
}
.main-section__nav-container {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.main-section__text {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 24px;
}
.main-section__left-wrapper {
  width: 300px;
  height: 499px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 100px;
  left: -5px;
}
.main-section__right-img {
  position: absolute;
  top: 98px;
  left: 43px;
}

.nav-menu__list {
  display: flex;
  justify-content: space-between;
  width: 560px;
}
.nav-menu__list a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
}
.nav-menu__list a:hover {
  color: #D22856;
}
.nav-menu__list a:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: 300;
}
.title_white {
  color: #FFFFFF;
}

.buttons__main-btn {
  width: 300px;
  height: 56px;
  background: none;
  border-radius: 29px;
  border: 3px solid #FFFFFF;
  font-size: 21px;
  color: #FFFFFF;
  font-weight: 700;
}

.icons__item {
  margin-right: 34px;
}
.icons__item:last-child {
  margin-right: 0px;
}

.second-section {
  min-height: 1362px;
  position: relative;
  overflow: hidden;
}
.second-section::before {
  content: "";
  background: #F2F2F2;
  transform: skewY(355deg);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -347px;
  z-index: -10;
}
.second-section__container {
  padding-top: 77px;
}
.second-section__title {
  margin-bottom: 72px;
}
.second-section__cards-box {
  display: flex;
  justify-content: space-around;
}
.second-section__wrapper {
  height: 429px;
  display: flex;
  align-items: center;
}
.second-section__img {
  margin-right: 71px;
}
.second-section__block-text {
  max-width: 534px;
  font-size: 18px;
  line-height: 30px;
}
.second-section__link-study {
  color: #D22856;
}

.cards {
  margin-bottom: 200px;
}

.cards-item {
  position: relative;
}
.cards-item__block-text {
  width: 300px;
  height: 250px;
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 294px;
  left: -55px;
  z-index: 10;
}
.cards-item__text {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

span {
  font-size: 30px;
  font-weight: 700;
}

.third-section {
  min-height: 405px;
  display: flex;
  justify-content: center;
}
.third-section__container {
  padding-top: 72px;
}
.third-section__feedback-box {
  text-align: center;
  max-width: 688px;
}
.third-section__img {
  margin-bottom: 50px;
}
.third-section__text {
  font-size: 18px;
  line-height: 30px;
}
.third-section__span {
  font-size: 24px;
}

.fourth-section {
  min-height: 534px;
  position: relative;
  overflow: hidden;
}
.fourth-section::before {
  content: "";
  background: #F2F2F2;
  transform: skewY(355deg);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -57px;
  z-index: -10;
}
.fourth-section__container {
  padding-top: 159px;
}
.fourth-section__span {
  font-size: 18px;
}
.fourth-section__right-wrapper {
  display: flex;
}

.table-box {
  display: flex;
  align-items: flex-end;
}

.table-item {
  position: relative;
  overflow: hidden;
}
.table-item_first-column {
  font-size: 18px;
}
.table-item__cell {
  width: 234px;
  height: 59px;
  background: #FFFFFF;
  border: 2px solid #F2F2F2;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-item__cell_first-column {
  align-items: flex-start;
}
.table-item__cell_grey {
  background: none;
}
.table-item__cell_title {
  background: #283645;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  width: 234px;
  height: 94px;
}
.table-item__hit {
  background: #D22856;
  transform: rotate(-45deg);
  position: absolute;
  width: 114px;
  height: 29px;
  left: -25px;
  bottom: 227px;
  z-index: 10;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
}

.fifth-section {
  min-height: 867px;
  position: relative;
  overflow: hidden;
}
.fifth-section__container {
  padding-top: 74px;
}
.fifth-section__title {
  margin-bottom: 61px;
}
.fifth-section__block-text {
  height: 98px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #D22856;
  margin-bottom: 32px;
  position: relative;
  z-index: 20;
}
.fifth-section__span {
  font-size: 18px;
  color: black;
}
.fifth-section::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1000px;
  background: #FFFFFF;
  -webkit-clip-path: polygon(60px 0%, 100% 0%, 100% 100%, 60px 100%, 0 50%);
          clip-path: polygon(60px 0%, 100% 0%, 100% 100%, 60px 100%, 0 50%);
  transform: rotate(-90deg);
  bottom: 5%;
  right: 42%;
  z-index: 10;
}

.footer {
  min-height: 197px;
}
.footer__container {
  height: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__icons-box {
  display: flex;
}
.footer__icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid rgba(40, 54, 69, 0.1);
  margin-right: 11px;
}
.footer__icons-item:last-child {
  margin-right: 0px;
}
.footer__icons-item:hover {
  border: 3px solid #283645;
}
.footer__icons-item:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}
.footer__right-icon {
  display: flex;
  align-items: center;
}
.footer__text {
  font-size: 18px;
  margin-right: 13px;
}/*# sourceMappingURL=style.css.map */